/* блок header */

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  max-width: 100%;
  margin: 92px 50px 92px 50px;
}

.header-nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: circle;
  text-decoration: none;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
  padding-right: 36px;
  padding-bottom: 5px;
}

.link-marker-padding {
  list-style-position: outside;
  padding-left: 7px;
}

.links-list-item_no-bullit {
  list-style-type: none;
}

.text-decoration {
  text-decoration: none;
  border-bottom: 1px solid black;
}

.link-active {
  color: black;
  text-decoration: none;
}

.logo-black {
  width: 148px;
  height: 105px;
}
.address{
 /* добавил класс*/
  display: flex;
  flex-direction: column;
  align-items: start;
  font-style: normal;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 18px;
  line-height: 24.3px;
  letter-spacing: 0;
  list-style: none;


}

.header-address {

  padding-left: 187px;
  padding-bottom: 6px;
}

/* блок cover */
.cover {
  position: relative;
  max-width: 1100px;
  min-height: 757px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(../images/cover.jpg);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.overlay {
  background-color: rgb(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: absolute;
  z-index: 1;
}

.cover-title {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 100px;
  line-height: 114.99999999999999%;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: 165px;
  margin-left: 50px;
  margin-right: 50px;
  row-gap: 22px;
}

.aligned-text {
  text-align: left;
  letter-spacing: 30px;
}
.aligned-text_center {
  text-align: center;
  letter-spacing: 30px;
  padding-left: 30px;
}

.aligned-text_right {
  text-align: right;
  letter-spacing: 30px;
  padding-left: 614px;
}

.description {
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
}
.description-text {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  white-space: nowrap;
  padding-top: 13px;
  font-weight: 100;
  font-size: 22px;
  line-height: 28px;
  word-spacing: 18.7px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
}

.bet-button {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 1);
  width: 256px;
  height: 51px;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
}

/* блок lots */

.lots {
  height: 100%;
  max-width: 1100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 186px;
}
.lots-title {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0;
  text-transform: uppercase;
  display: inline-block;
  margin-left: 64px;
  margin-bottom: 29px;
}

.card-container {
  column-gap: 25px;
  row-gap: 50px; /*добавил отступы между карточками*/
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
 
}

.card-link-decoration{ /* убрал подчеркивание параграфа*/
text-decoration: none;
}

.card-container-item {
  min-height: 596px;
  width: 334px;
  display: flex;
  position: relative;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: auto;
}
.card-type-film {
  background-image: url(../images/card-lot-01.jpg);
}
.card-type-book {
  background-image: url(../images/card-lot-02.jpg);
}
.card-type-picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card-title,
.card-paragraph {
  position: relative;
  z-index: 2;
 
}

.card-title {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  letter-spacing: 0;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-style: solid;
  color: rgba(255, 255, 255, 1);
  margin-top: 48px;
  margin-left: 40px;
  margin-right: 40px;
}

.card-paragraph {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 48px;
  margin-left: 40px;
  margin-right: 40px;
  
  
}

a.link-look-more {
  width: 192px;
  text-decoration: none;
  border-bottom: 1px solid black;
  margin-top: 33px;
  margin-left: 63px;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0;
  color: rgba(0, 0, 0, 1);
}

/* блок about */

.about {
  row-gap: 20px;
  display: grid;
  grid-template-columns: 334px 1fr;
  margin: 121px auto;
  width: 1052px;
  height: 100%;
  margin-bottom: 158px;
}

.black-circle {
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 47px;
  margin-top: 32px;
}

.logo-white {
  /* удалил фоновое изображение*/
  width: 148px;
  height: 114px;
}
.about-column {
  height: 100%;
  width: 100%;
  padding-left: 25px;
  padding-right: 5px;
}

.about-column-title {
  margin-left: 0;
  margin-bottom: 102px;
  margin-top: 138px;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0;
  text-transform: uppercase;
}

.about-column-text {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.about-text-margin {
  margin-bottom: 24px;
}
.about-text-margin:last-child {
  margin-top: 0;
}

/* блок footer */

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 100%;
  margin-bottom: 82px;
}

.footer-address {
 
  margin-left: 51px;
 
}

.footer-nav-menu {
  text-align: center;
  align-self: self-start;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0;
  justify-self: center;
}

.socials img {
  width: 48px;
  height: 48px;
}

.socials {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 240px;
  margin-left: 77px;
  gap: 48px;
}
